.header_01 {
    position: fixed;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 99999;
    /* background:url(asest/book1.jpg);
    width: auto;
    background-size: cover;
    position: fixed; */
    /* background-color: beige !important; */
}

.header_01 .red {
    color: red;
}

.header_01 li a {
    border: none;
    font-family: 'Abril Fatface', cursive;
    font-size: 20px;
    color: rgb(255, 255, 242)!important;
}

.header_01 li a:hover {
    transition: 0.5s;
    transform: translate(-10px);
    background-color: #ffffff61;
}

.pdcon {
    /* width: 100%;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
   */
}

.pdcon nav {
    position: relative;
    padding-top: 20px;
    text-align: right;
    width: 100%;
    float: right;
    display: flex;
    flex-wrap: wrap;
}

.navbar-fixed-top.scrolled .nav-link {
    color: #555;
}

.navbar-fixed-top.scrolled {
    background-color: rgb(68, 105, 76) !important;
    transition: background-color 200ms linear;
}

#tog {
    position: absolute;
    top: 0;
    right: 0;
}

.ph {
    padding-top: 25px;
    width: 200px;
    vertical-align: center;
}

.image {
    width: auto;
    position: absolute;
    z-index: 99999;
}

.navs {
    /* background-color: red; */
    text-align: right;
    flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
    padding: 10px;
}

.list li {
    padding-right: 30px;
}

.list button {
    overflow: auto;
    padding: 5px 20px;
    border-radius: 15px;
    background-color: #00996d;
    color: antiquewhite;
    transition: 0.5s;
    border: none;
    /* border: none; */
}

.list button:hover {
    transition: 0.5s;
    transform: translateY(-4px);
}


/* .cnav{
    position: fixed;
} */

.phone {
    float: left;
    padding-top: 5px;
    padding-right: 5px;
}

#tel {
    font-family: 'Abril Fatface', cursive;
}


/* .section_01 div img{
width: 100%;

} */

.section_01 {
    width: 100%;
}

.section_01 img {
    width: 100%;
    /* background-size: cover; */
}

.services {
    /* width: 100%; */
    /* padding-top:30px; */
    position: absolute;
    top: 50px;
    left: 66px;
    font-size: 30x;
    vertical-align: center;
    text-align: center;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
}

#ser {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
    color: #00996d;
    padding-top: 70px;
    /* padding-left: auto;
    padding-right: auto; */
}

#work {
    padding-top: 60px;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    padding-left: 20px;
    letter-spacing: 0.27px;
}

.section_03 img {
    /* vertical-align: middle; */
    /* padding-top: -100px; */
    width: 100%;
    border-style: none;
}

.section_03 p {
    font-size: 30px;
    padding-top: 20px;
    padding-left: 18px;
    color: #00996d;
}

.section_04 {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.section_04 div {
    background: #000000a6;
}

.section_04 h2 {
    color: aliceblue;
    text-align: center;
    padding: 10%;
    margin-bottom: 0;
}

.wrapper {
    width: 100%;
    padding-top: 5%;
}

.item {
    /* background: tomato; */
    height: 300px;
}

.item img {
    width: 100%;
    height: 300px;
}

.section_06 h2 {
    text-align: center;
    width: 100%;
    padding-top: 30px;
    color: rgb(74, 82, 98);
    font-weight: 700;
}

.new-blog {
    overflow: hidden;
    box-shadow: 0px 1px 10px #00000030;
}

.block-other img:hover {
    filter: brightness(0.8);
    transition: 0.5s;
    transform: scale(1.1)
}

.block-other {
    padding-top: 10%;
}

.block-other h3 {
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    padding-top: 30px;
}

.block-other p {
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.para1 {
    padding-top: 5%;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

.section_06 h3 {
    color: #00996d;
}

.another-blog {
    overflow: hidden;
    box-shadow: 0px 1px 10px #00000030;
}

.section_07 {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.section_07 h2 {
    padding: 10%;
    margin-bottom: 0;
    color: aliceblue;
    text-align: center;
}

.section_07 div {
    background: #000000a6;
}

.section_08 img {
    padding-top: 10%;
    width: 100%;
    height: 280px;
}

.m-box {
    margin: 25px 10px 40px 2px;
    padding: 10px;
    box-shadow: 0px 0px 5px 0px #00000030;
    width: 100%;
}

.m-box i {
    color: #00996d;
    padding-left: 10px;
    font-size: 30px;
}

.m-box h5 {
    padding-left: 10px;
    font-size: 30px;
}

.m-box p {
    padding-left: 10px;
    font-size: 20px;
}


/* .contact{
    padding-top: 20px;
} */

.m-box:hover {
    transform: translateY(-8px);
    transition: 0.5s;
}

.section_09 {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.section_09 h2 {
    width: 100%;
    margin-bottom: 0;
    padding: 10%;
}

.f-dark {
    background: #000000a6;
}

.section_09 img {
    padding-top: 50px;
    vertical-align: center;
    padding-top: 50px;
}

.dip {
    color: aliceblue;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
}

.conlist li {
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    list-style: none;
}

.conlist {
    padding-top: 108px;
    margin-left: -40px;
}

.conlist a {
    text-decoration: none;
    color: aliceblue;
}

#about {
    color: aliceblue;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    padding-top: 108px;
    margin-left: 0px;
    font-size: 30px;
}